#sectionProjects{
    background-color: var(--fundo-terciario);
    width: 100vw;
    height: 120vh;
    font-family: var(--font-family);
} 

#sectionProjects .titleProject{
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
    font-weight: 400;
}

#sectionProjects #areaCards{
    width: 100vw;
    height: calc(120vh - 9rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#sectionProjects .cards{
    border-radius: 2rem;
    background: linear-gradient(to top right, #1f2733, rgba(29, 67, 124, 0.877));
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.603);
    display: block;
    width: 35rem;
    height: 55rem;
    position: absolute;
    opacity: 0;
}

#sectionProjects div:nth-child(1){
    z-index: 1;
}

#sectionProjects div:nth-child(2){
    z-index: 2;
}

#sectionProjects div:nth-child(3){
    z-index: 3;
}

#sectionProjects .cardImage{
    /*border: 0.1rem red solid;*/
    background-color: aqua;
    width: 100%;
    height: 50%;
}

#sectionProjects #cardImage1{
    border-radius: 2rem;
    background-image: url(../img/cards/project1.PNG);
    background-position: center;
    background-size: cover;
}

#sectionProjects #cardImage2{
    border-radius: 2rem;
    background-image: url(../img/cards/project2.PNG);
    background-position: center;
    background-size: cover;
}

#sectionProjects #cardImage3{
    background: linear-gradient(to top right, #1f2733, rgba(29, 67, 124, 0.643));
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: aliceblue;
}

#sectionProjects .cardDesciption{
    /*border: 0.1rem yellow solid;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

#sectionProjects .cardDesciption h3{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: aliceblue;
}

#sectionProjects .cardDesciption .description{
    height: 60%;

}

#sectionProjects .cardDesciption .description p{
    margin: 0rem 0rem 1rem 0rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: aliceblue;
}

#sectionProjects .cardDesciption .cardButtons{
    /*border: 0.1rem red solid;*/
    display: flex;
    gap: 3rem;
}

#sectionProjects .cardDesciption .cardButtons button{
    border-radius: 2rem;
    width: 10rem;
    padding: 1rem;
}

#sectionProjects .cardDesciption .cardButtons button a{
    text-decoration: none;
    color: black;
}