@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #fff;
}

.header{
    background: transparent;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.header .nav{
    width: 90%;
    margin: 0 auto;
    max-width: 110rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.header .nav .logo{
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.header .nav .menu{
    list-style: none;
    font-size: 1.6rem;
}

.header .nav .menu a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.header .nav .menu a:hover{
    color: #4df0c3;
}

.hero{
    position: relative;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hero::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: linear-gradient(to bottom, transparent, #1b183a);
}

.hero .content-hero{
    max-width: 60rem;
    text-align: center;
    z-index: 10;
}

.hero .content-hero h1{
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.445);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.hero .content-hero p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #ddd;
    margin-bottom: 2.5rem;
}

.hero .content-hero button{
    /*background-color: #7f5af0;*/
    position: relative;
    background: linear-gradient(135deg, #140E5C, #3D337D, #0C0C14);
    box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.432);
    color: #fff;
    border: none;
    border-radius: 3rem;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.4s;
}

.hero .content-hero button:hover{
    transform: scale(1.1);
    box-shadow: 0rem 0rem 1rem 0.2rem rgba(255, 255, 255, 0.732);
}

.sobre{
    color: black;
    padding: 8rem 0;
    background: linear-gradient(to bottom, #1b183a, #3D337D);
}

.sobre .container{
    width: 90%;
    max-width: 110rem;
    margin: 0 auto;
    text-align: center;
}

.sobre .container h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.sobre .container p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
    padding: 1rem;
}