@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #fff;
}

.header{
    background: transparent;
    min-width: 100vw;
    position: absolute;
    top: 0;
}

.header .nav{
    width: 90%;
    margin: 0 auto;
    max-width: 110rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.header .nav .logo{
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.header .nav .menu{
    list-style: none;
    font-size: 1.6rem;
}

.header .nav .menu a{
    text-decoration: none;
    color: #fff;
}

.hero{
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hero .content-hero{
    max-width: 60rem;
    text-align: center;
}

.hero .content-hero h1{
    font-size: 3.6rem;
    font-weight: 700;
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.445);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.hero .content-hero p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.hero .content-hero button{
    background-color: #00ff99;
    color: #111;
    border: none;
    border-radius: 3rem;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
}