.hero-section{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content{
    max-width: 70rem;
    width: 90%;
}

.hero-content p{
    font-size: var(--font-size-body);
    color: var(--color-emphasis);
    margin-bottom: 0.8rem;
}

.hero-content h1{
    font-size: var(--font-size-h1);
    font-weight: 400;
    color: var(--color-primary);
    margin-bottom: 1.6rem;
}

.hero-content h2{
    font-size: var(--font-size-h2-small);
    font-weight: 400;
    color: var(--color-secondary);
    margin-bottom: 2.4rem;
}

.hero-content .description{
    color: var(--color-secondary);
    margin-bottom: 3.2rem;
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container-btn a{
    border-radius: 0.7rem;
    font-size: var(--font-size-body);
    text-decoration: none;
    padding: 1.2rem 3.2rem;
    cursor: pointer;
}

.hero-first-link{
    border: 0.1rem blue solid;
    color: var(--color-commom);
    border-color: var(--color-emphasis);
    background-color: var(--color-emphasis);
}

.hero-second-link{
    border: 0.2rem var(--ring) solid;
    background-color: transparent;
    color: var(--color-slightness);
    transition: border 0.1s ease-in-out;
}

.hero-first-link:hover{
    background-color: var(--color-emphasis-hover);
}

.hero-second-link:hover{
    border: 0.2rem var(--color-emphasis) solid;
}