*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);

  --color-primary: #0f172b;
  --color-secondary: #45556c;
  --color-emphasis: #155dfb;
  --font-size-h1: clamp(36px, 6vw, 60px);
  --font-size-h2: clamp(28px, 4vw, 36px);
  --font-size-h2-small: clamp(24px, 3.5vw, 30px);
  --font-size-body: clamp(14px, 1.5vw, 16px);
}

